<h1>Log In</h1>

<% if @user.errors.any?%>
<ol>
    <% @user.errors.full_messages.each do |message|%>
    <li><%= message%> </li>
    <% end %>
</ol>
<% end %>

<%= form_for :user, url: login_path do |f|%>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<br>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<br>
<%= f.submit "Log In", class:"btn btn-primary" %>

<% end %>

<img src="https://www.wikihow.com/images/thumb/4/4d/Log-In-Step-13-Version-2.jpg/v4-460px-Log-In-Step-13-Version-2.jpg.webp" class="position-absolute top-50 start-50 translate-middle"> 