<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>  
      <th scope="col">Project</th>
      <th scope="col">Task</th>
      <th scope="col">Detail</th>
      <th scope="col">Task Owner</th>
      <th scope="col">Finished?</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

      
      <td><%= task.project.name %></td>
      <td><%= link_to task.name, task_path(:id) %></td>
      <td><%= task.detail %></td>
      <td><%= task.user.name %></td>
      <td><%= task.finished %></td>
      <td> <%= link_to 'Edit', edit_task_path(task)%>
    </tr>

  </tbody>
</table>