<ol>
<% if @project.errors.any?%>
    <% @project.errors.full_messages.each do |message|%>
    <li><%= message%> </li>
    <% end %>
</ol>
<% end %>

<%= form_for @project do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>
    <%= f.submit "Add Project"%>
<% end %>
